<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon"/>
    <link th:href="@{/static/css/font.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="layui-anim layui-anim-up">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a>用户管理</a>
        <a>用户列表</a>
        <a>
          <cite>用户信息详情</cite></a>
      </span>
    <a class="layui-btn layui-btn-primary layui-btn-small" id="flushBtn"
       style="line-height:1.6em;margin-top:3px;float:right" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <input class="layui-input" id="homeName" name="homeName" placeholder="输入房源名称">
            <div class="layui-input-inline" style="margin-top: -4px">
                <select name="status" id="status" class="status">
                    <option value="0">审核中</option>
                    <option value="1">已上架</option>
                    <option value="2">已下架</option>
                </select>
            </div>
            <input class="layui-input" placeholder="开始日" name="start" id="start" readonly>
            <input class="layui-input" placeholder="截止日" name="end" id="end" readonly>
            <button class="layui-btn" id="search" lay-filter="sreach" data-type="reload">
                <i class="layui-icon">&#xe615;</i>
            </button>
        </div>
    </div>
    <xblock>
        <span class="x-right" style="line-height:40px">条</span><span class="x-right gaibian"
                                                                     style="line-height:40px">0</span><span
            class="x-right" style="line-height:40px">共有内容:</span>

    </xblock>
    <table class="layui-table" id='demoBox' lay-filter="test"></table>

</div>
<script type="text/javascript">
    var param = {
        "homeName":$('#homeName').val(),
        "status":$('#status').val(),
        "StartTime": $('#start').val(),
        "EndTime": $('#end').val()
    };

    layui.use(["table", "layer"], function () {
        var table = layui.table;
        var layer = layui.layer;
        table.render({
            elem: "#demoBox",
            url: "http://localhost:8081/home/selectPage",
            cellMinWidth: '200',
            cols: [
                [
                    {
                        field: 'id',
                        title: 'ID',
                        align: 'center',
                        Width: "100"
                    },
                    {
                        field: 'userId',
                        title: '创建人id',
                        align: 'center',
                        Width: '100'
                    },
                    {
                        field: 'name',
                        title: '房源名称',
                        align: 'center',
                        Width: '200'
                    },
                    {
                        field: 'photo',
                        title: '房源照片',
                        align: 'center',
                        Width: '150',
                        templet:function (d) {
                            return '<div>' +
                                '<a onClick="x_admin_show( &#39;房源照片&#39; , &#39;/html/home/home-photos.html&#39; ,800,500)" href="javascript:;" >\n' +
                                ' 点击查看' +
                                '</a>' +
                                '</div>';
                        }
                    },
                    {
                        field: 'location',
                        title: '房源位置',
                        align: "center",
                        Width: '200'
                    },
                    {
                        field: 'price',
                        title: '房源价格(元/天)',
                        align: "center",
                        Width: '120'
                    },
                    {
                        field: 'info_id',
                        title: '房源属性',
                        align: 'center',
                        templet:function (d) {
                            return '<div>' +
                                '<a onClick="x_admin_show( &#39;房源属性&#39; , &#39;/html/home/home-info.html&#39; ,800,500)" href="javascript:;" >\n' +
                                ' 点击查看' +
                                '</a>' +
                                '</div>';
                        }
                    },
                    {
                        field: 'status',
                        title: '状态',
                        align: 'center',
                        templet: function (d) {
                            if (d.status === '0') {
                                return '<div><span class="layui-btn layui-btn-normal layui-btn-sm">审核中</span></div>';
                            } else if(d.status === '1'){
                                return '<div><span class="layui-btn layui-btn-normal layui-btn-sm">已上架</span></div>';
                            }else{
                                return '<div><span class="layui-btn layui-btn-normal layui-btn-sm layui-btn-disabled">已下架</span></div>';
                            }
                        },
                        Width: '100'
                    },
                    {
                        field: 'createTime',
                        type: 'datetime',
                        title: '加入时间',
                        align: "center",
                        Width: '200',
                    },

                    {
                        field: 'isDel',
                        title: '是否删除',
                    },
                    {
                        field: 'updateTime',
                        title: '修改时间',
                    },
                    {
                        field: 'options',
                        title: '操作',
                        align: 'center',
                        Width: '150',
                        templet: function (d) {
                            var temp;
                            if (d.status === "0") {
                                temp = '<div>' +
                                    '<a onclick="member_stop(this,' + d.id + ','+ d.status +')" href="javascript:;"  title="上架" >\n' +
                                    '                <i class="layui-icon">&#xe62f;</i>\n' +
                                    '              </a>\n' +
                                    '<a onclick="member_stop(this,' + d.id + ','+ d.status +')" href="javascript:;"  title="下架" >\n' +
                                    '                <i class="layui-icon">&#xe601;</i>\n' +
                                    '              </a>\n' +
                                    '              <a title="删除" onclick="member_del(this,' + d.id + ')" href="javascript:;">\n' +
                                    '                <i class="layui-icon">&#xe640;</i>\n' +
                                    '              </a>' +
                                    '</div>';
                            }
                            else if(d.status === "1"){
                                temp = '<div>' +
                                    '<a onclick="member_stop(this,' + d.id + ','+ d.status + ')" href="javascript:;"  title="下架" >\n' +
                                    '                <i class="layui-icon">&#xe601;</i>\n' +
                                    '              </a>\n' +

                                    '              <a title="删除" onclick="member_del(this,' + d.id + ')" href="javascript:;">\n' +
                                    '                <i class="layui-icon">&#xe640;</i>\n' +
                                    '              </a>' +
                                    '</div>';
                            }else{
                                temp = '<div>' +
                                    '              <a title="删除" onclick="member_del(this,' + d.id + ')" href="javascript:;">\n' +
                                    '                <i class="layui-icon">&#xe640;</i>\n' +
                                    '              </a>' +
                                    '</div>';
                            }
                            return temp;
                        }
                    }
                ],
            ],
            done: function (res, curr, count) {
                $('.layui-table').find("[data-field='isDel']").css("display", "none");
                $('.layui-table').find("[data-field='updateTime']").css("display", "none");
                $('.layui-table').find("[data-field='status']").addClass("td-status");
                $('.layui-table').find("[data-field='options']").addClass("td-manage");
                $('.gaibian').html(count);
            },
            page: 1,
            limit: 10,
            text: {
                none: '无数据'
            },
            method: 'get',
            where: param,
            error: function (res, msg) {
                console.log(res + msg)
                layer.msg("账号异常，请重新登录账号", {
                    time: 1500,
                    end: function () {
                        $(window).attr('location', 'http://localhost:8081/logout');
                    }
                });
            },
            parseData: function (res) {
                console.log("adas" + res.code)
                layer.msg(res)
                // if (res.code === null){
                //     layer.msg("账号异常，请重新登录账号", {
                //         time: 1500,
                //         end: function () {
                //             $(window).attr('location', 'http://localhost:8081/logout');
                //         }
                //     });
                // }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count,
                    "data": res.data//解析数据列表
                }
            },
            id: 'reload',
        });

        //表刷新方法
        var reloadTable = function () {

            table.reload("reload", { //此处是上文提到的 初始化标识id
                page: {
                    curr: 1,
                    limit: 10
                },
                where: {
                    homeName: '',
                    status:$('#status').val(),
                    start: '',
                    end: '',
                },
                done: function (res, curr, count) {
                    $('.layui-table').find("[data-field='isDel']").css("display", "none");
                    $('.layui-table').find("[data-field='updateTime']").css("display", "none");
                    $('.layui-table').find("[data-field='status']").addClass("td-status");
                    $('.layui-table').find("[data-field='options']").addClass("td-manage");
                    $('.gaibian').html(count);
                },
            });
        };
        $('#flushBtn').on('click', function () {
            $('#homeName').val('');
            $('#start').val('');
            $('#end').val('');
            reloadTable();
        });

        //搜索方法
        var active = {
            reload: function () {
                var index = layer.msg('查询中，请稍后...', {icon: 16, time: false, shade: 0});
                setTimeout(function () {
                    table.reload('reload', {
                        page: {
                            curr: 1
                        }, where: {
                            homeName: $('#homeName').val(),
                            status: $('#status').val(),
                            start: $('#start').val(),
                            end: $('#end').val(),
                        }
                    })
                    layer.close(index);
                }, 800)
            }
        };
        $('#search').on('click', function () {
            var s = $('#start').val() === "" ? 0 : 1;
            var e = $('#end').val() === "" ? 0 : 1;
            var text = ''
            if (s !== e) {
                if (s === 0) {
                    text = "开始日期";
                } else {
                    text = "结束日期";
                }
                layer.msg("您的输入条件有误，请您补全" + text);
            } else {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            }
        });

    })
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        var startDate = laydate.render({
            elem: '#start',//指定元素
            type: 'date',//设置日期的类型
            theme: '#2c78da',
            done: function (value, date) {
                if (value !== "") {
                    date.month = date.month - 1;
                    endDate.config.min = date;
                } else {
                    endDate.config.min = startDate.config.min;
                }
            },
        });

        //执行一个laydate实例
        var endDate = laydate.render({
            elem: '#end', //指定元素
            type: 'date',//设置日期的类型
            theme: '#2c78da',
            done: function (value, date) {
                if (value !== "") {
                    date.month = date.month - 1;
                    startDate.config.max = date;
                } else {
                    startDate.config.max = endDate.config.max;
                }
            }
        });
    });

    /**
     * 房源-上架或下架
     */
    function member_stop(obj, id,stateCode) {
        var descState;
        switch ($(obj).attr('title')) {
            case '上架':
                descState = '1';
                break;
            case '下架':
                descState = '2';
                break;
        }
        var status = [id, stateCode,descState]
        layer.confirm('确认要' + $(obj).attr('title') + '吗？', function (index) {
            function m(flag) {
                var sss
                if (flag === 1 || flag === -998) {
                    if ($(obj).attr('title') === '上架') {   // 现在是停用状态
                        $(obj).attr('title', '上架')
                        $(obj).find('i').html('&#xe601;');
                        $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已上架');
                        sss = '已上架!'
                    } else {
                        $(obj).attr('title', '下架')
                        $(obj).find('i').html('&#xe62f;');
                        $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已下架');
                        sss = '已下架!'
                    }
                }

                if (flag === 1) {
                    $(obj).parents("tr").remove();
                    layer.msg(sss, {icon: 6, time: 1500});
                } else if (flag === -999) {
                    $(obj).parents("tr").remove();
                    layer.msg('操作失败，该用户已被' + descState === '1' ? '上架' : '下架', {icon: 0, time: 1500});
                } else if (flag === -998) {
                    $(obj).parents("tr").remove();
                    layer.msg('操作失败，该用户已被其他管理员操作', {icon: 5, time: 1500});
                } else {
                    layer.msg('未知异常，请刷新', {icon: 5, time: 1500});
                }
            }

            //发异步把用户状态进行更改
            $.ajax({
                url: "http://localhost:8081/home/status",
                type: 'POST',
                data: JSON.stringify(status),
                contentType: 'application/json',
                success: function (data) {
                    m(data.count)
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg("账号异常，请重新登录账号", {
                        time: 1500,
                        end: function () {
                            $(window).attr('location', 'http://localhost:8081/logout');
                        }
                    });
                }
            })

        });
    }

    /**
     * 房源-删除
     */
    function member_del(obj, id) {
        var a = ['-999', id]
        layer.confirm('确认要删除id为' + id + '的房源吗？', function (index) {
            //发异步删除数据
            $.ajax({
                url: "http://localhost:8081/home/del",
                type: "POST",
                data: JSON.stringify(a),
                contentType: 'application/json',
                success: function (data) {
                    $(obj).parents("tr").remove();
                    if ($('.gaibian').html() !== '0') {
                        $('.gaibian').html(parseInt($('.gaibian').html()) - 1);
                    }
                    if (data.count !== 0) {
                        layer.msg('删除成功!', {icon: 1, time: 1500});
                    } else {
                        layer.msg('删除失败,该房源已被删除', {icon: 2, time: 1500});
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg("账号异常，请重新登录账号", {
                        time: 1500,
                        end: function () {
                            $(window).attr('location', 'http://localhost:8081/logout');
                        }
                    });
                }
            });
        });
    }

</script>
</body>

</html>