<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="description" content="BizMap Directory & Listings HTML templates">
    <meta name="format-detection" content="telephone=no"><!-- FAVICONS ICON -->
    <title>BizMap Directory & Listings HTML templates</title><!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/plugins.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/templete.css}">
    <link class="skin" rel="stylesheet" type="text/css" th:href="@{static/css/skin-1.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{static/picture/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/star-rating-svg.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/jquery-te-1.4.0.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/imageuploadify.min.css}">
    <link rel="stylesheet" th:href="@{static/css/jquery.tag-editor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/calendar.css}">
</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
    <div class="headerPage"></div>
    <!-- Content -->
    <div class="page-content bg-white"><!-- inner page banner -->
        <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
             style="background-image:url(static/picture/bnr2.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry"><h1 class="text-white">Blog Standard</h1>
                    <p>Find awesome places,bars,restaurants & activities.</p><!-- Breadcrumb row -->
                    <div class="breadcrumb-row">
                        <ul class="list-inline">
                            <li><a href="index.html">Home</a></li>
                            <li>Blog Standard</li>
                        </ul>
                    </div><!-- Breadcrumb row END --></div>
            </div>
        </div><!-- inner page banner END -->
        <div class="section-full content-inner">
            <div class="container">
                <div class="row"><!-- Left part start -->
                    <div class="col-md-7 col-lg-8 col-xl-8">
                        <div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow"><a href="blog-details.html"><img
                                    th:src="@{static/picture/thum1.jpg}" alt=""></a></div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
                                    <ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">John
                                            Doe</a></li>
                                        <li class="post-date"><i class="ti-alarm-clock"></i><strong>12
                                            July</strong><span>2020</span></li>
                                    </ul>
                                </div>
                                <div class="dlab-post-title "><h3 class="post-title"><a href="blog-details.html">Ten
                                    Unconventional Knowledge About Directory Blog That You Can't Learn From Books.</a>
                                </h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>As desperate as you are right now, you have done everything you can on your
                                        website to say to Google “This is a relevant content!” But ouch, your site
                                        doesn't seem to be ranking no matter what. </p></div>
                                <div class="dlab-post-readmore blog-share"><a href="blog-details.html" title="READ MORE"
                                                                              rel="bookmark"
                                                                              class="site-button button-md radius-xl">READ
                                    MORE</a></div>
                            </div>
                        </div>
                        <div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow"><a href="blog-details.html"><img
                                    th:src="@{static/picture/thum2.jpg}" alt=""></a></div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
                                    <ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">Rosalina</a>
                                        </li>
                                        <li class="post-date"><i class="ti-alarm-clock"></i><strong>25
                                            Oct</strong><span>2020</span></li>
                                    </ul>
                                </div>
                                <div class="dlab-post-title "><h3 class="post-title"><a href="blog-details.html">Seven
                                    Awesome Things You Can Learn From Directory Blog.</a></h3></div>
                                <div class="dlab-post-text"><p>You will see in the guide all my years of valuable
                                    experience together with the latest data-proven results from getting a bunch of
                                    traffic to your website to making tons of REAL money for you!</p></div>
                                <div class="dlab-post-readmore blog-share"><a href="blog-details.html" title="READ MORE"
                                                                              rel="bookmark"
                                                                              class="site-button button-md radius-xl">READ
                                    MORE</a></div>
                            </div>
                        </div>
                        <div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow"><a href="blog-details.html"><img
                                    th:src="@{static/picture/thum3.jpg}" alt=""></a></div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
                                    <ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">John
                                            Smith</a></li>
                                        <li class="post-date"><i class="ti-alarm-clock"></i><strong>05
                                            Jan</strong><span>2020</span></li>
                                    </ul>
                                </div>
                                <div class="dlab-post-title "><h3 class="post-title"><a href="blog-details.html">The
                                    Biggest Contribution Of Directory Blog To Humanity.</a></h3></div>
                                <div class="dlab-post-text"><p>Through the Guide,you will learn to STOP your website
                                    from getting bunch of traffic because I will show you how to get only the real
                                    traffic that gives you real conversion at the end of the day.</p></div>
                                <div class="dlab-post-readmore blog-share"><a href="blog-details.html" title="READ MORE"
                                                                              rel="bookmark"
                                                                              class="site-button button-md radius-xl">READ
                                    MORE</a></div>
                            </div>
                        </div>
                        <div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow"><a href="blog-details.html"><img
                                    th:src="@{static/picture/thum4.jpg}" alt=""></a></div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
                                    <ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">Robin
                                            Hood</a></li>
                                        <li class="post-date"><i class="ti-alarm-clock"></i><strong>20
                                            Feb</strong><span>2020</span></li>
                                    </ul>
                                </div>
                                <div class="dlab-post-title "><h3 class="post-title"><a href="blog-details.html">20
                                    Wonderful Directory Blog. Number 16 is Absolutely Stunning.</a></h3></div>
                                <div class="dlab-post-text"><p>When I needed to start from scratch and figure out how
                                    things work. Getting people to visit your website is easy until you realize that
                                    these bunch of traffic is not the exact traffic that you want.</p></div>
                                <div class="dlab-post-readmore blog-share"><a href="blog-details.html" title="READ MORE"
                                                                              rel="bookmark"
                                                                              class="site-button button-md radius-xl">READ
                                    MORE</a></div>
                            </div>
                        </div><!-- Pagination start -->
                        <div class="pagination-bx clearfix text-center">
                            <ul class="pagination">
                                <li class="previous"><a href="javascript:void(0)"><i class="fa fa-arrow-left"></i></a>
                                </li>
                                <li><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">...</a></li>
                                <li class="active"><a href="javascript:void(0)">7</a></li>
                                <li class="next"><a href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div><!-- Pagination END --></div><!-- Left part END --><!-- Side bar start -->
                    <div class="col-md-5 col-lg-4 col-xl-4 sticky-top">
                        <aside class="side-bar blog-sidebar">
                            <div class="widget"><h4 class="widget-title">Search</h4>
                                <div class="search-bx">
                                    <form role="search" method="post">
                                        <div class="input-group"><input name="text" type="text" class="form-control"
                                                                        placeholder="Search your keyword..."><span
                                                class="input-group-btn"><button type="submit" class="site-button"><i
                                                class="fa fa-search"></i></button></span></div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget widget_gallery"><h4 class="widget-title">Instagram</h4>
                                <ul>
                                    <li><a href="javascript:void(0);">
                                        <div class="dlab-post-thum"><img th:src="@{static/picture/pic1.jpg}" alt="">
                                        </div>
                                    </a></li>
                                    <li><a href="javascript:void(0);">
                                        <div class="dlab-post-thum"><img th:src="@{static/picture/pic1.jpg}" alt="">
                                        </div>
                                    </a></li>
                                    <li><a href="javascript:void(0);">
                                        <div class="dlab-post-thum"><img th:src="@{static/picture/pic1.jpg}" alt="">
                                        </div>
                                    </a></li>
                                    <li><a href="javascript:void(0);">
                                        <div class="dlab-post-thum"><img th:src="@{static/picture/pic1.jpg}" alt="">
                                        </div>
                                    </a></li>
                                    <li><a href="javascript:void(0);">
                                        <div class="dlab-post-thum"><img th:src="@{static/picture/pic1.jpg}" alt="">
                                        </div>
                                    </a></li>
                                    <li><a href="javascript:void(0);">
                                        <div class="dlab-post-thum"><img th:src="@{static/picture/pic1.jpg}" alt="">
                                        </div>
                                    </a></li>
                                    <li><a href="javascript:void(0);">
                                        <div class="dlab-post-thum"><img th:src="@{static/picture/pic1.jpg}" alt="">
                                        </div>
                                    </a></li>
                                    <li><a href="javascript:void(0);">
                                        <div class="dlab-post-thum"><img th:src="@{static/picture/pic1.jpg}" alt="">
                                        </div>
                                    </a></li>
                                    <li><a href="javascript:void(0);">
                                        <div class="dlab-post-thum"><img th:src="@{static/picture/pic1.jpg}" alt="">
                                        </div>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="widget widget_share"><h4 class="widget-title">Follow Us</h4>
                                <ul class="list-inline m-b0">
                                    <li><a href="javascript:void(0);" class="site-button facebook circle "><i
                                            class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0);" class="site-button google-plus circle "><i
                                            class="fa fa-google-plus"></i></a></li>
                                    <li><a href="javascript:void(0);" class="site-button linkedin circle "><i
                                            class="fa fa-linkedin"></i></a></li>
                                    <li><a href="javascript:void(0);" class="site-button instagram circle "><i
                                            class="fa fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0);" class="site-button twitter circle "><i
                                            class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                            <div class="widget widget_tag"><h4 class="widget-title">Categories</h4>
                                <ul class="m-b0">
                                    <li><a href="javascript:void(0);">Lifestyle</a>(05)</li>
                                    <li><a href="javascript:void(0);">Travel</a>(34)</li>
                                    <li><a href="javascript:void(0);">Fashion</a>(89)</li>
                                    <li><a href="javascript:void(0);">Music</a>(96)</li>
                                    <li><a href="javascript:void(0);">Branding</a>(78)</li>
                                </ul>
                            </div>
                            <div class="widget recent-posts-entry"><h4 class="widget-title">Feeds</h4>
                                <div class="widget-post-bx">
                                    <div class="widget-post clearfix">
                                        <div class="dlab-post-media"><img th:src="@{static/picture/img11.jpg}"
                                                                          width="200" height="143" alt=""></div>
                                        <div class="dlab-post-info">
                                            <div class="dlab-post-header"><h6 class="post-title"><a
                                                    href="javascript:void(0);">Alonso Kelina Falao Asiano Pero</a></h6>
                                            </div>
                                            <div class="dlab-post-meta">
                                                <ul>
                                                    <li class="post-date"><i class="ti ti-alarm-clock"></i>08 Hours ago
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <div class="dlab-post-media"><img th:src="@{static/picture/img21.jpg}"
                                                                          width="200" height="160" alt=""></div>
                                        <div class="dlab-post-info">
                                            <div class="dlab-post-header"><h6 class="post-title"><a
                                                    href="javascript:void(0);">It is a long established fact that a
                                                reader</a></h6></div>
                                            <div class="dlab-post-meta">
                                                <ul>
                                                    <li class="post-date"><i class="ti ti-alarm-clock"></i>07 Hours ago
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <div class="dlab-post-media"><img th:src="@{static/picture/img3.jpg}"
                                                                          width="200" height="160" alt=""></div>
                                        <div class="dlab-post-info">
                                            <div class="dlab-post-header"><h6 class="post-title"><a
                                                    href="javascript:void(0);">Many desktop publish packages and web</a>
                                            </h6></div>
                                            <div class="dlab-post-meta">
                                                <ul>
                                                    <li class="post-date"><i class="ti ti-alarm-clock"></i>06 Hours ago
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <div class="dlab-post-media"><img th:src="@{static/picture/img4.jpg}"
                                                                          width="200" height="160" alt=""></div>
                                        <div class="dlab-post-info">
                                            <div class="dlab-post-header"><h6 class="post-title"><a
                                                    href="javascript:void(0);">Various versions have evolved over the
                                                years</a></h6></div>
                                            <div class="dlab-post-meta">
                                                <ul>
                                                    <li class="post-date"><i class="ti ti-alarm-clock"></i>02 Hours ago
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <div class="dlab-post-media"><img th:src="@{static/picture/img5.jpg}"
                                                                          width="200" height="160" alt=""></div>
                                        <div class="dlab-post-info">
                                            <div class="dlab-post-header"><h6 class="post-title"><a
                                                    href="javascript:void(0);">Photo booth anim 8-bit PBR 3 wolf
                                                moon.</a></h6></div>
                                            <div class="dlab-post-meta">
                                                <ul>
                                                    <li class="post-date"><i class="ti ti-alarm-clock"></i>01 Hours ago
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget widget_tag_cloud"><h4 class="widget-title">Tags</h4>
                                <div class="tagcloud"><a href="javascript:void(0)">Travel</a><a
                                        href="javascript:void(0)">Lifestyle</a><a href="javascript:void(0)">Photo</a><a
                                        href="javascript:void(0)">Adventures</a><a
                                        href="javascript:void(0)">Musician</a><a href="javascript:void(0)">08</a><a
                                        href="javascript:void(0)">Travel</a><a href="javascript:void(0)">Lifestyle</a><a
                                        href="javascript:void(0)">Photo</a><a href="javascript:void(0)">Adventures</a><a
                                        href="javascript:void(0)">Musician</a><a href="javascript:void(0)">08</a></div>
                            </div>
                            <div class="add p-b30"><img th:src="@{static/picture/add1.jpg}" alt=""></div>
                        </aside>
                    </div><!-- Side bar END --></div>
            </div>
        </div>
    </div><!-- Content END-->
    <!-- Footer -->
    <div class="footerPage"></div>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up"></button>
</div><!-- JAVASCRIPT FILES ========================================= -->
<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        $(".headerPage").load("header.html");
        $(".footerPage").load("footer.html");
    });
</script>
<script th:src="@{static/js/popper.min.js}"></script><!-- BOOTSTRAP.MIN JS -->
<script th:src="@{static/js/bootstrap.min.js}"></script><!-- BOOTSTRAP.MIN JS -->
<script th:src="@{static/js/bootstrap-select.min.js}"></script><!-- FORM JS -->
<script th:src="@{static/js/jquery.bootstrap-touchspin.js}"></script><!-- FORM JS -->
<script th:src="@{static/js/magnific-popup.js}"></script><!-- MAGNIFIC POPUP JS -->
<script th:src="@{static/js/waypoints-min.js}"></script><!-- WAYPOINTS JS -->
<script th:src="@{static/js/counterup.min.js}"></script><!-- COUNTERUP JS -->
<script th:src="@{static/js/imagesloaded.js}"></script><!-- IMAGESLOADED -->
<script th:src="@{static/js/masonry-3.1.4.js}"></script><!-- MASONRY -->
<script th:src="@{static/js/masonry.filter.js}"></script><!-- MASONRY -->
<script th:src="@{static/js/rangeslider.js}"></script><!-- RANGESLIDER -->
<script th:src="@{static/js/owl.carousel.js}"></script><!-- OWL SLIDER -->
<script th:src="@{static/js/custom.js}"></script><!-- CUSTOM FUCTIONS -->
<script th:src="@{static/js/dz.carousel.js}"></script><!-- SORTCODE FUCTIONS -->
<script th:src="@{static/js/dz.ajax.js}"></script><!-- CONTACT JS -->
<!-- Tencent MAP -->
<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77"></script>
<script th:src="@{static/js/jquery.star-rating-svg.js}"></script><!-- STAR RATING SVG -->
<script th:src='@{static/js/moment.min.js}'></script><!-- SORTCODE FUCTIONS  -->
<script th:src='@{static/js/calendar.js}'></script><!-- SORTCODE FUCTIONS  -->
<script th:src="@{static/js/particles.js}"></script>
<script th:src="@{static/js/particles.app.js}"></script>

</body>

</html>