<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="description" content="BizMap Directory & Listings HTML templates">
    <meta name="format-detection" content="telephone=no"><!-- FAVICONS ICON -->
    <title>BizMap Directory & Listings HTML templates</title><!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/plugins.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/templete.css}">
    <link class="skin" rel="stylesheet" type="text/css" th:href="@{static/css/skin-1.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{static/picture/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/star-rating-svg.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/jquery-te-1.4.0.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/imageuploadify.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/jquery.tag-editor.css}">
</head>
<body id="bg">
<template id="房源评级">
    <div class="content-box">
        <div class="content-header"><h3 class="title"><i class="la la-star-o m-r5"></i>房源评级</h3></div>
        <div class="content-body">
            <div class="average-reviews-box">
                <div class="average-reviews-single">
                    <div class="average-reviews-info"><h4 class="average-reviews">7.7</h4>
                        <div class="clearfix"><h4 class="average-reviews-in">/ 10</h4><span>Quality</span>
                        </div>
                    </div>
                </div>
                <div class="average-reviews-list">
                    <ul>
                        <li>
                            <div class="average-reviews-info"><span>Quality</span><h4
                                    class="average-reviews">8.5</h4></div>
                        </li>
                        <li>
                            <div class="average-reviews-info"><span>Location</span><h4
                                    class="average-reviews">7.5</h4></div>
                        </li>
                        <li>
                            <div class="average-reviews-info"><span>Space</span><h4
                                    class="average-reviews">7.4</h4></div>
                        </li>
                        <li>
                            <div class="average-reviews-info"><span>Service</span><h4
                                    class="average-reviews">7.9</h4></div>
                        </li>
                        <li>
                            <div class="average-reviews-info"><span>Price</span><h4
                                    class="average-reviews">7.4</h4></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="房源描述">
    <div class="content-box">
        <div class="content-header">
            <h3 class="title"><i class="la la-file-text m-r5"></i>房源描述</h3>
        </div>
        <div class="content-body">
            <p>
                欧式豪华装修，配置舒适的大床和床垫，相信您一定会舒舒服服睡个好觉。除此之外，卧室还有空调，衣柜。楼宇内安装有进口大品牌电梯，楼道干净整洁，同时小区内绿树环抱，清新怡人。在这里，你不用担心大都市的吵闹，安静的只有风吹树叶声。物业管理安全有序，《二十四小时》保安巡逻，行人出入需刷门禁卡，小区周边设施齐全，餐饮设施，金融。医院等特别方便。</p>
        </div>
    </div>
</template>

<template id="房源属性">
    <div class="content-box">
        <div class="content-header">
            <h3 class="title"><i class="la la-list-alt m-r5"></i>listing features</h3>
        </div>
        <div class="content-body">
            <ul class="icon-box-list list-col-4">
                <li><a href="javascript:void(0);" class="icon-box-info">
                    <div class="icon-cell bg-gray">
                        <i class="la la-tv"></i>
                    </div>
                    <span>电视</span>
                </a></li>
                <li><a href="javascript:void(0);" class="icon-box-info">
                    <div class="icon-cell bg-gray">
                        <i class="la la-area-chart"></i>
                    </div>
                    <span>洗衣机</span>
                </a></li>
                <li><a href="javascript:void(0);" class="icon-box-info">
                    <div class="icon-cell bg-gray">
                        <i class="la la-life-bouy"></i>
                    </div>
                    <span>热水淋浴</span>
                </a></li>
                <li><a href="javascript:void(0);" class="icon-box-info">
                    <div class="icon-cell bg-gray">
                        <i class="la la-wifi"></i>
                    </div>
                    <span>Wifi</span>
                </a></li>
                <li><a href="javascript:void(0);" class="icon-box-info">
                    <div class="icon-cell bg-gray">
                        <i class="la la-minus-square"></i>
                    </div>
                    <span>卫浴用品</span>
                </a></li>
                <li><a href="javascript:void(0);" class="icon-box-info">
                    <div class="icon-cell bg-gray">
                        <i class="la la-spotify"></i>
                    </div>
                    <span>空调</span>
                </a></li>
                <li><a href="javascript:void(0);" class="icon-box-info">
                    <div class="icon-cell bg-gray">
                        <i class="la "></i>
                    </div>
                    <span>冰箱</span>
                </a></li>
                <li><a href="javascript:void(0);" class="icon-box-info">
                    <div class="icon-cell bg-gray">
                        <i class="la "></i>
                    </div>
                    <span>厨房</span>
                </a></li>
            </ul>
        </div>
    </div>
</template>

<template id="房源照片">
    <div class="content-box">
        <div class="content-header">
            <h3 class="title"><i class="la la-file-image-o"></i> photos</h3>
        </div>
        <div class="content-body">
            <div class="widget widget_gallery gallery-grid-4 lightgallery">
                <ul>
                    <li>
													<span data-exthumbimage="static/picture/pic110.jpg"
                                                          class="check-km" data-src="static/picture/pic110.jpg"
                                                          title="海景房">
														<a href="javascript:void(0);">
															<div class="dlab-post-thum"><img
                                                                    th:src="@{static/picture/pic110.jpg}" alt=""></div>
														</a>
													</span>
                    </li>
                    <li>
													<span data-exthumbimage="static/picture/pic24.jpg"
                                                          data-src="static/picture/pic24.jpg" class="check-km"
                                                          title="海景房">
														<a href="javascript:void(0);" id="two">
															<div class="dlab-post-thum"><img
                                                                    th:src="@{static/picture/pic24.jpg}" alt=""></div>
														</a>
													</span>
                    </li>
                    <li>
													<span data-exthumbimage="static/picture/pic35.jpg"
                                                          data-src="static/picture/pic35.jpg" class="check-km"
                                                          title="海景房">
														<a href="javascript:void(0);" id="three">
															<div class="dlab-post-thum"><img
                                                                    th:src="@{static/picture/pic35.jpg}" alt=""></div>
														</a>
													</span>
                    </li>
                    <li>
													<span id="four" data-exthumbimage="static/picture/pic43.jpg"
                                                          data-src="static/picture/pic43.jpg" class="check-km"
                                                          title="海景房">
														<a href="javascript:void(0);">
															<div class="dlab-post-thum"><img
                                                                    th:src="@{static/picture/pic43.jpg}" alt=""></div>
															<div class="more-images">
																<div>
																	<strong>6</strong>
																	<span>Images</span>
																</div>
															</div>
														</a>
													</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-footer content-btn text-center">
            <a href="javascript:void(0);" class="site-button-link">See All</a>
        </div>
    </div>
</template>

<template id="房源视频">
    <div class="content-box">
        <div class="content-header">
            <h3 class="title"><i class="la la-video-camera m-r5"></i>videos</h3>
        </div>
        <div class="content-body">
            <div class="widget widget_video video-grid-4">
                <ul>
                    <li>
                        <div class="dlab-post-thum video-bx">
                            <img th:src="@{static/picture/pic1.jpg}" alt="">
                            <div class="video-play-icon">
                                <a href="https://www.youtube.com/watch?v=f4Bts39jimI"
                                   class="popup-youtube video"><i
                                        class="la la-play"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-footer content-btn text-center">
            <a href="javascript:void(0);">See All</a>
        </div>
    </div>
</template>

<template id="评论">
    <div class="content-box">
        <div class="content-body">
            <div class="clear" id="comment-list">
                <div class="comments-area" id="comments">
                    <h3 class="font-26">评论</h3>
                    <ol class="comment-list">
                        <li class="comment">
                            <div class="comment-body">
                                <div class="comment-author vcard">
                                    <img class="avatar photo" th:src="@{static/picture/pic16.png}" alt="">
                                    <cite class="fn">叶曦瑶</cite>
                                </div>
                                <div class="comment-meta">
                                    <a href="javascript:void(0);">2022-11-10 21:33:36</a>
                                    <ul class="featured-star">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                                <p>特别好的一处房子，老板人很好，房子也很干净</p>
                            </div>
                        </li>
                        <li class="comment">
                            <div class="comment-body">
                                <div class="comment-author vcard">
                                    <img class="avatar photo" th:src="@{static/picture/pic16.png}" alt="">
                                    <cite class="fn">叶曦瑶</cite>
                                </div>
                                <div class="comment-meta">
                                    <a href="javascript:void(0);">2022-11-10 21:33:36</a>
                                    <ul class="featured-star">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                                <p>特别好的一处房子，老板人很好，房子也很干净</p>
                            </div>
                        </li>
                    </ol>
                    <div class="clearfix"><!-- comment list END -->
                        <h3 class="font-26">留下足迹</h3>
                        <div class="comment-respond" id="respond">
                            <form class="comment-form" id="commentform" method="post" action="#">
                                <div class="comment-form-rating">
                                    <div class="starrr"></div>
                                    <div class="rating-widget"><!-- Rating Stars Box -->
                                        <div class="rating-stars">
                                            <ul id="stars">
                                                <li class="star" title="Poor"
                                                    data-value="1"><i
                                                        class="fa fa-star fa-fw"></i></li>
                                                <li class="star" title="Fair"
                                                    data-value="2"><i
                                                        class="fa fa-star fa-fw"></i></li>
                                                <li class="star" title="Good"
                                                    data-value="3"><i
                                                        class="fa fa-star fa-fw"></i></li>
                                                <li class="star" title="Excellent"
                                                    data-value="4"><i
                                                        class="fa fa-star fa-fw"></i></li>
                                                <li class="star" title="WOW!!!"
                                                    data-value="5"><i
                                                        class="fa fa-star fa-fw"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <p class="comment-form-comment">
                                    <label for="comment">Comments</label>
                                    <textarea rows="8" name="comment" placeholder="Type your comments...."
                                              id="comment"></textarea>
                                </p>
                                <p class="comment-form-author">
                                    <label for="author">Type your name....
                                        <span class="required">*</span>
                                    </label>
                                    <input type="text" value="" name="Author" placeholder="Type your name...."
                                           id="author">
                                </p>
                                <p class="comment-form-email">
                                    <label for="email">Type your email....
                                        <span class="required">*</span>
                                    </label>
                                    <input type="text" value="" placeholder="Type your email...." name="email"
                                           id="email">
                                </p>
                                <p class="form-submit">
                                    <input type="submit" value="Post Comment" class="submit site-button" id="submit"
                                           name="submit">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<div id="loading-area"></div>
<div class="page-wraper">
    <div class="headerPage">
    </div>
    <!-- Content -->
    <div class="page-content bg-white text-gray-1">
        <!--        背景图-->
        <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle inner-particles" id="dezParticles"
             style="background-image:url(static/picture/bnr1.jpg);">
            <div class="container"></div>
        </div>
        <!--        头像栏-->
        <div class="listing-details-head">
            <div class="container">
                <div class="listing-info-box">
                    <div class="listing-theme-logo">
                        <img th:src="@{static/picture/pic110.jpg}" alt="">
                    </div>
                    <div class="listing-info">
                        <div class="listing-info-left">
                            <h3 class="title">超级无敌海景房</h3>
                            <p>位于海边，享受阳光的抛洒，夏日的乐趣，烧烤的快乐</p>
                        </div>
                        <div class="listing-info-right">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#loginBox"
                               class="site-button gray">
                                <i class="la la-heart-o m-r5"></i>收藏
                            </a>
                            <div class="dropdown dropdown-btn">
                                <button class="site-button dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-share m-r5"></i>分享
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item site-button-link facebook" href="javascript:void(0);">
                                        <i class="fa fa-facebook"></i>
                                        <span>Facebook</span>
                                    </a>
                                    <a class="dropdown-item site-button-link twitter" href="javascript:void(0);">
                                        <i class="fa fa-twitter"></i>
                                        <span>Twitter</span>
                                    </a>
                                    <a class="dropdown-item site-button-link google-plus" href="javascript:void(0);">
                                        <i class="fa fa-google-plus"></i>
                                        <span>Google+</span>
                                    </a>
                                    <a class="dropdown-item site-button-link tumblr" href="javascript:void(0);">
                                        <i class="fa fa-tumblr"></i>
                                        <span>Tumblr</span></a>
                                    <a class="dropdown-item site-button-link pinterest" href="javascript:void(0);">
                                        <i class="fa fa-pinterest"></i>
                                        <span>Pinterest</span>
                                    </a>
                                    <a class="dropdown-item site-button-link linkedin" href="javascript:void(0);">
                                        <i class="fa fa-linkedin"></i>
                                        <span>Linkedin</span>
                                    </a>
                                    <a class="dropdown-item site-button-link whatsapp" href="javascript:void(0);">
                                        <i class="fa fa-whatsapp"></i>
                                        <span>Whatsapp</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        home、description...栏-->
        <div class="listing-details-nav">
            <div class="container">
                <ul class="listing-nav nav">
                    <li>
                        <a data-toggle="tab" href="#listing_home" class="active">
                            <i class="la la-home"></i>
                            <span>总览</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#listing_description">
                            <i class="la la-file-text"></i>
                            <span>描述</span></a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#listing_listing_features">
                            <i class="la la-list-alt"></i>
                            <span>描述</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#listing_photos">
                            <i class="la la-image"></i>
                            <span>照片</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#listing_videos">
                            <i class="la la-video-camera"></i>
                            <span>视频</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#listing_reviews">
                            <i class="la la-star-o"></i>
                            <span>评论</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 内容 -->
        <div class="section-full listing-details-content">
            <div class="container">
                <div class="tab-content">

                    <div id="listing_home" class="tab-pane active">
                        <div class="row"><!-- Left part start -->
                            <!--                            左边-->
                            <div class="col-xl-8 col-lg-7 col-md-12" id="Home">
                            </div>
                            <!-- blog END -->
                            <!-- Side bar start -->
                            <!--                            右边-->
                            <div class="col-xl-4 col-lg-5 col-md-12">
                                <aside class="side-bar listing-side-bar">
                                    <!--                                    头像栏-->
                                    <div class="content-box">
                                        <div class="content-header">
                                            <h3 class="title"><i class="la la-bullhorn m-r5"></i>精品推荐</h3>
                                        </div>
                                        <div class="content-body">
                                            <div class="widget recent-posts-entry posts-style1 posts-column-2">
                                                <div class="widget-post-bx">
                                                    <div class="widget-post clearfix">
                                                        <div class="dlab-post-media">
                                                            <img th:src="@{static/picture/pic111.jpg}" width="200"
                                                                 height="143" alt="">
                                                            <span class="abb-bx">Add</span>
                                                        </div>
                                                        <div class="dlab-post-info">
                                                            <div class="dlab-post-header">
                                                                <h6 class="post-title"><a href="javascript:void(0);">【楠溪别院】</a>
                                                                </h6>
                                                                <div class="dlab-post-meta">
                                                                    <ul>
                                                                        <li class="post-rating">
                                                                            <span class="average-rating">10.0 </span>
                                                                            <span class="rating-star">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																			</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <p>落地窗公寓 近地铁 交通便利 大唐不夜城 大雁塔 全家游</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="widget-post-bx">
                                                    <div class="widget-post clearfix">
                                                        <div class="dlab-post-media">
                                                            <img th:src="@{static/picture/pic25.jpg}" width="200"
                                                                 height="143" alt="">
                                                            <span class="abb-bx">Add</span>
                                                        </div>
                                                        <div class="dlab-post-info">
                                                            <div class="dlab-post-header">
                                                                <h6 class="post-title"><a href="javascript:void(0);">【柏庭•龙猫】</a>
                                                                </h6>
                                                                <div class="dlab-post-meta">
                                                                    <ul>
                                                                        <li class="post-rating">
                                                                            <span class="average-rating">10.0 </span>
                                                                            <span class="rating-star">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																			</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <p>2号线地铁房 钟楼回民街 不夜城博物馆 独享阳光一居室</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="widget-post-bx">
                                                    <div class="widget-post clearfix">
                                                        <div class="dlab-post-media">
                                                            <img th:src="@{static/picture/pic36.jpg}" width="200"
                                                                 height="143" alt="">
                                                            <span class="abb-bx">Add</span>
                                                        </div>
                                                        <div class="dlab-post-info">
                                                            <div class="dlab-post-header">
                                                                <h6 class="post-title"><a href="javascript:void(0);">【花甜橙&民宿】</a>
                                                                </h6>
                                                                <div class="dlab-post-meta">
                                                                    <ul>
                                                                        <li class="post-rating">
                                                                            <span class="average-rating">10.0 </span>
                                                                            <span class="rating-star">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																			</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <p>近轻轨站 近龙湖时代天街 近大坪三院 万友康年国际公寓（无偿用燃气灶）</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="widget-post-bx">
                                                    <div class="widget-post clearfix">
                                                        <div class="dlab-post-media">
                                                            <img th:src="@{static/picture/pic44.jpg}" width="200"
                                                                 height="143" alt="">
                                                            <span class="abb-bx">Add</span>
                                                        </div>
                                                        <div class="dlab-post-info">
                                                            <div class="dlab-post-header">
                                                                <h6 class="post-title"><a href="javascript:void(0);">【北欧loft三床】</a>
                                                                </h6>
                                                                <div class="dlab-post-meta">
                                                                    <ul>
                                                                        <li class="post-rating">
                                                                            <span class="average-rating">10.0 </span>
                                                                            <span class="rating-star">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																			</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <p>童雅公寓 近西湖 西溪湿地 浙大紫荆港校区 城西银泰 超大面积 可做饭</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                    右边room栏-->
                                    <div class="content-box">
                                        <div class="content-header">
                                            <h3 class="title"><i class="la la-shopping-cart m-r5"></i>我的房间</h3>
                                        </div>
                                        <div class="content-body">
                                            <div class="booking-form">
                                                <form>
                                                    <div class="form-row">
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                            <label for="inputEmail4">Adults:</label>
                                                            <input type="email" class="form-control" id="inputEmail4"
                                                                   placeholder="0" readonly>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                            <label for="inputPassword4">Children:</label>
                                                            <input type="text" class="form-control" id="inputPassword4"
                                                                   placeholder="0" readonly>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                                            <label for="inputPassword4">Room:</label>
                                                            <select>
                                                                <option>Basic (+lb59.00 per day)</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                    右边日期栏-->
                                    <div class="content-box listing-timing-box" id="accordion">
                                        <div class="content-header listing-timing-header" data-toggle="collapse"
                                             data-target="#collapseOne" aria-expanded="true"
                                             aria-controls="collapseOne">
                                            <div class="head-left">
                                                <span class="listing-day"><i
                                                        class="la la-clock-o m-r10"></i>今天</span>
                                                <span class="listing-status open">正在营业</span>
                                                <span class="m-l10">GMT+8</span>
                                            </div>
                                            <div class="head-right">
                                                <span>06:30 - 11:30</span>
                                                <span class="m-l10"><i class="la la-ellipsis-h"></i></span>
                                            </div>
                                        </div>
                                        <div class="content-body collapse show" id="collapseOne"
                                             aria-labelledby="headingOne" data-parent="#accordion">
                                            <ul class="listing-time-list">
                                                <li class="open"><span class="listing-day">星期一</span> <span
                                                        class="listing-hours">06:30 - 22:45</span></li>
                                                <li><span class="listing-day">星期二</span> <span
                                                        class="listing-hours">06:30 - 22:45</span></li>
                                                <li><span class="listing-day">星期三</span> <span
                                                        class="listing-hours">06:30 - 22:45</span></li>
                                                <li><span class="listing-day">星期四</span> <span
                                                        class="listing-hours">06:30 - 22:45</span></li>
                                                <li><span class="listing-day">星期五</span>
                                                    <span class="listing-hours">06:30 - 22:45</span>
                                                </li>
                                                <li><span class="listing-day">星期六</span> <span
                                                        class="listing-hours">06:30 - 22:45</span></li>
                                                <li><span class="listing-day">星期日</span> <span class="listing-hours">06:30 - 22:45</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                                    房源类别-->
                                    <div class="content-box">
                                        <div class="content-header">
                                            <h3 class="title"><i class="la la-sitemap m-r5"></i>房源类别</h3>
                                        </div>
                                        <div class="content-body">
                                            <ul class="icon-box-list list-col-2">
                                                <li><a href="javascript:void(0);" class="icon-box-info">
                                                    <div class="icon-cell bg-green">
                                                        <i class="la la-life-buoy"></i>
                                                    </div>
                                                    <span>公寓</span>
                                                </a></li>
                                                <li><a href="javascript:void(0);" class="icon-box-info">
                                                    <div class="icon-cell bg-red">
                                                        <i class="la la-cutlery"></i>
                                                    </div>
                                                    <span>酒店式公寓</span>
                                                </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                                    右边的statistic-->
                                    <div class="content-box">
                                        <div class="content-header">
                                            <h3 class="title"><i class="la la-bar-chart m-r5"></i>统计信息</h3>
                                        </div>
                                        <div class="content-body">
                                            <ul class="icon-box-list list-col-2">
                                                <li>
                                                    <div class="icon-box-info">
                                                        <div class="icon-cell bg-gray">
                                                            <i class="la la-eye"></i>
                                                        </div>
                                                        <span>13164 足迹</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon-box-info">
                                                        <div class="icon-cell bg-gray">
                                                            <i class="la la-star-o"></i>
                                                        </div>
                                                        <span>24 评级</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon-box-info">
                                                        <div class="icon-cell bg-gray">
                                                            <i class="la la-heart-o"></i>
                                                        </div>
                                                        <span>102 收藏</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon-box-info">
                                                        <div class="icon-cell bg-gray">
                                                            <i class="la la-share"></i>
                                                        </div>
                                                        <span>58 分享</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                                    右边的map-->
                                    <div class="content-box">
                                        <div class="content-header">
                                            <h3 class="title"><i class="la la-map-marker m-r5"></i>map</h3>
                                        </div>
                                        <div class="content-body">
                                            <div id="map3" class="align-self-stretch"
                                                 style="width:100%; height:300px;"></div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <!-- Side bar END -->
                        </div>
                    </div>

                    <div id="listing_description" class="tab-pane ">
                        <div class="row">
                            <div class="col-xl-12" id="description">
                            </div>
                        </div>
                    </div>

                    <div id="listing_listing_features" class="tab-pane">
                        <div class="row">
                            <div class="col-xl-12" id="info">
                            </div>
                        </div>
                    </div>

                    <div id="listing_photos" class="tab-pane">
                        <div class="row">
                            <div class="col-xl-12" id="photo">
                            </div>
                        </div>
                    </div>

                    <div id="listing_videos" class="tab-pane">
                        <div class="row">
                            <div class="col-xl-12" id="video">
                            </div>
                        </div>
                    </div>

                    <div id="listing_reviews" class="tab-pane">
                        <div class="row">
                            <div class="col-xl-8" id="evaluation">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="footerPage">
    </div>

    <!-- 回到顶部-->
    <button class="scroltop fa fa-chevron-up"></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->

<!--<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>-->

<script th:src="@{static/js/jquery.min.js}"></script><!-- BOOTSTRAP.MIN JS -->
<script th:src="@{static/js/popper.min.js}"></script><!-- BOOTSTRAP.MIN JS -->
<script th:src="@{static/js/bootstrap.min.js}"></script><!-- BOOTSTRAP.MIN JS -->
<script th:src="@{static/js/bootstrap-select.min.js}"></script><!-- FORM JS -->
<script th:src="@{static/js/jquery.bootstrap-touchspin.js}"></script><!-- FORM JS -->
<script th:src="@{static/js/magnific-popup.js}"></script><!-- MAGNIFIC POPUP JS -->
<script th:src="@{static/js/waypoints-min.js}"></script><!-- WAYPOINTS JS -->
<script th:src="@{static/js/counterup.min.js}"></script><!-- COUNTERUP JS -->
<script th:src="@{static/js/imagesloaded.js}"></script><!-- IMAGESLOADED -->
<script th:src="@{static/js/masonry-3.1.4.js}"></script><!-- MASONRY -->
<script th:src="@{static/js/masonry.filter.js}"></script><!-- MASONRY -->
<script th:src="@{static/js/rangeslider.js}"></script><!-- RANGESLIDER -->
<script th:src="@{static/js/owl.carousel.js}"></script><!-- OWL SLIDER -->
<script th:src="@{static/js/custom.js}"></script><!-- CUSTOM FUCTIONS -->
<script th:src="@{static/js/lightgallery-all.min.js}"></script><!-- Lightgallery -->
<script th:src="@{static/js/dz.carousel.js}"></script><!-- SORTCODE FUCTIONS -->
<script th:src="@{static/js/dz.ajax.js}"></script><!-- CONTACT JS -->
<script th:src="@{static/js/jquery.star-rating-svg.js}"></script>
<script th:src='@{static/js/moment.min.js}'></script><!-- SORTCODE FUCTIONS  -->
<script th:src='@{static/js/calendar.js}'></script><!-- SORTCODE FUCTIONS  -->
<script th:src="@{static/js/particles.js}"></script>
<script th:src="@{static/js/particles.app.js}"></script>
<!--&lt;!&ndash; Tencent MAP &ndash;&gt;-->
<!--<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77"></script>-->
<script>
    $(function () {
        $(".headerPage").load("header");
        $(".footerPage").load("footer");
    });


    //全部属性
    var a = document.getElementById("房源评级").cloneNode(true);
    var b = document.getElementById("房源描述").cloneNode(true);
    var c = document.getElementById("房源属性").cloneNode(true);
    var d = document.getElementById("房源照片").cloneNode(true);
    var e = document.getElementById("房源视频").cloneNode(true);
    var g = document.getElementById("评论").cloneNode(true);


    document.getElementById("Home").appendChild(a.content.querySelector(".content-box"));
    document.getElementById("Home").appendChild(b.content.querySelector(".content-box"));
    document.getElementById("Home").appendChild(c.content.querySelector(".content-box"));
    document.getElementById("Home").appendChild(d.content.querySelector(".content-box"));
    document.getElementById("Home").appendChild(e.content.querySelector(".content-box"));
    document.getElementById("Home").appendChild(g.content.querySelector(".content-box"));


    var h = document.getElementById("房源描述").cloneNode(true);
    var i = document.getElementById("房源属性").cloneNode(true);
    var j = document.getElementById("房源照片").cloneNode(true);
    var k = document.getElementById("房源视频").cloneNode(true);
    var m = document.getElementById("评论").cloneNode(true);

    document.getElementById("description").appendChild(h.content.querySelector(".content-box"));
    document.getElementById("info").appendChild(i.content.querySelector(".content-box"));
    document.getElementById("photo").appendChild(j.content.querySelector(".content-box"));
    document.getElementById("video").appendChild(k.content.querySelector(".content-box"));
    document.getElementById("evaluation").appendChild(m.content.querySelector(".content-box"));
</script>
</body>
</html>